@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html,
body {
  background: #d8d8d8;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  background: url('../img/background-border.jpg') repeat-x top center,
    rgba(26, 26, 26, 0.9);
  box-shadow: 0px 4px 8px #999;
}

header .left-nav {
  display: flex;
  margin: 0 0 0 230px;
}

header .left-nav .logo img {
  padding: 0px 28.5px 0px 0px;
  height: 31px;
  width: 34px;
  color: #fff;
}

header .left-nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .left-nav .menu a {
  padding: 0px 17px;
  color: #ccc;
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

header .left-nav .menu .fas {
  padding: 0 0 5px 0;
  font-size: 0.5em;
}

header .left-nav .menu .sign-in {
  color: #de8ae5;
  text-decoration: none;
}

header .right-nav {
  display: flex;
  align-items: center;
  margin: 0 248px 0 0;
}

header .right-nav .fas {
  padding: 0px 0px 0px 30px;
  color: #ccc;
}

header .right-nav .fa-shopping-cart {
  padding: 0px 21px 0px 0px;
  color: #ccc;
}

header .right-nav .cart-quantity {
  padding: 0 4px 0 0;
  color: #ccc;
  opacity: 0.6;
  font-size: 11px;
  font-weight: 900;
}
